:root {
  --laranja: #f97316;
  --verde: #a3c23e;
  --amarelo: #ffd60a;
  --cinza-claro: #f8f9fa;
  --cinza: #e0e0e0;
  --texto: #222;
  --branco: #ffffff;
  --fonte: "Poppins", "Segoe UI", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: var(--fonte);
  background-color: var(--cinza-claro);
  color: var(--texto);
}
 
main {
    padding: 32px 5%;
}